{% extends 'layouts/base.html' %}

{% block content %}
<section class="p-5">
<form action="{% url 'upload' %}" class="dropzone my-3 d-grid" id="my-awesome-dropzone" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <select class="form-control mb-3" name="grado" required>
        <option value="">----------</option>
        {% for grado in grados %}
            <option value="{{ grado.id }}">{{ grado.name }}</option>
        {% endfor %}
    </select>
    <input class="form-control mb-3" type="file" name="file" multiple/>
    <button class="btn btn-primary btn-sm gap-2">Upload</button>
</form>


<table class="table table-bordered table-stripped py-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Download</th>
            <th>File Name</th>
            <th>Grado</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
            <tr>
                <td width="2%">{{ file.id }}</td>
                <td><a href="{{ file.resumes.url }}" download><i class="fas fa-file-pdf fa-4x"></i></a></td>
                <td>{{ file.resumes }}</td>
                <td>{{ file.grado }}</td>
                <td><a href="{% url 'delete-file' file.id %}"><i class="fas fa-trash fa-2x"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</section>

{% endblock %}